# .env
NODE_ENV=development
# Logging settings for "Debug" logging module: https://www.npmjs.com/package/debug
DEBUG="golemio:integration-engine:*"
# Log level settings - silly>debug>verbose>info>warn>error, defaults to INFO if not set
LOG_LEVEL="DEBUG"

APP_NAME=integration-engine
# Port the app will listen on
PORT="3006"

# connections
MONGO_CONN=mongodb://user:password@localhost:27017/dataplatform?authSource=admin
POSTGRES_CONN=postgres://user:password@localhost:5432/dataplatform
REDIS_CONN=redis://user:password@localhost:6379/
RABBIT_CONN=amqp://user:password@localhost:5672
RABBIT_EXCHANGE_NAME=dataplatform

POSTGRES_POOL_MAX_CONNECTIONS=10

# batch size for streamed datasource getAll
DATA_BATCH_SIZE=1000

# helpers settings
OPEN_STREET_MAP_API_URL_SEARCH=https://nominatim.openstreetmap.org/search?format=json&accept-language=cs
OPEN_STREET_MAP_API_URL_REVERSE=https://nominatim.openstreetmap.org/reverse?format=json&accept-language=cs&zoom=18

# moje praha
MOJEPRAHA_ENDPOINT_BASEURL=https://www.mojepraha.eu

# MPLA URLS
PARKINGS_PAYMENT_URL=https://ke-utc.appspot.com/static/select_offstreet.html
PARKING_ZONES_PAYMENT_URL=https://ke-utc.appspot.com/static/onstreet.html

# shared cars
HOPPYGO_BASE_URL=https://www.hoppygo.com/car-detail/

# sparql endpoint settings
SPARQL_ENDPOINT_URL=https://opendata.mojepraha.eu
SPARQL_ENDPOINT_AUTH=

# email settings
MAILER_ENABLE=false
MAILER_HOST=
MAILER_PORT=
MAILER_USERNAME=
MAILER_PASSWORD=
MAILER_RECEIVER=
MAILER_FROM=

# S3
S3_ENABLED=false
S3_ACCESS_KEY_ID=
S3_ENDPOINT=
S3_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=integration-engine
S3_UPLOAD_PART_SIZE=10
S3_UPLOAD_QUEUE_SIZE=2

# streams management
STREAM_WAIT_FOR_END_INTERVAL = 1000 # ms to next attempt to close the stream
STREAM_WAIT_FOR_END_ATTEMPTS = 30 # attempts to close the stream before emit an error

NOTIFY_KNSKO_ABOUT_SENSOR_CHANGES = 0 # just tmprly to have a direct controll as we don't have knsko test enviroment

# Telemetry
JAEGER_ENABLED=false
JAEGER_AGENT_HOST=
JAEGER_AGENT_PORT=
TELEMETRY_LOG_LEVEL=0 # NONE = 0, ERROR = 30, WARN = 50, INFO = 60, DEBUG = 70, VERBOSE = 80, ALL = 9999

# Sentry
SENTRY_ENABLED=false
SENTRY_DSN=
SENTRY_ENVIRONMENT=

# Prometheus Metrics
METRICS_ENABLED=false
METRICS_PORT=
METRICS_PREFIX=
