
db.parkings.createIndex( { geometry : "2dsphere" } )

db.parkings.createIndex( { 'properties.name': "text", 'properties.address': "text" }, {"weights": { 'properties.name': 5, 'properties.address': 1 }} )




# mongo script for searching
db.otherapplications.find({$text: {$search: "praha"}}, {score: {$meta: "textScore"}}).sort({score:{$meta:"textScore"}}).pretty()

# helper mongo script
db.collectionsrefreshtimes.find({_collection: {$regex: ".*TrafficCameras.*"}})